<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    .background{
      background-image: url("https://thumbs.gfycat.com/TornArcticHen.webp");
      background-size: cover;
    }
    .backgroundBody{
      background-image: url("https://thumbs.gfycat.com/TornArcticHen.webp");
      background-size: cover;
    }
  </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body class="backgroundBody">
    <div class="background">
    <br>
    <h1 style="color:white ; text-align:center;">ATTENDANCE TERMINAL</h1>
    <br>
    </div>
    <nav class="nav nav-dark bg-primary" style="opacity:70% ;">
        <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link" href="/" style="color: white;">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about2" style="color: white;">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/signup" style="color: white;">Sign Up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/signin" style="color: white;">Sign In</a>
            </li>
          </ul>
    </nav>
    </h1>
    <br>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <br>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>
    