{% extends "MAINAPP/dashBase.html" %}
{% block content %}
<div class="dashboard-layout">
        <div class="dashboard-floatleftA">
                <div class="heading-h3">
                        <a href="/dashboard">SITE ADMINISTRATION.</a>
                </div>

                <div style="display: block;">
                        <div class="odd-line">
                                <div style="padding-left: 10px;">
                                        <table style="width: 100%;">
                                                <tr>
                                                        <th style="width: 600px;">
                                                                <p>Registered staff</p>
                                                        </th>

                                                        <td style="text-align: center; width: 45px;">
                                                                <p>{{ registeredstaff }}</p>
                                                        </td>

                                                        <td style="text-align: center; width: 40px;">
                                                                <a href="/register"><img style="padding-bottom: 4px;"
                                                                                src="http://127.0.0.1:8000/static/admin/img/icon-changelink.svg"
                                                                                alt=""></a>
                                                        </td>
                                                </tr>
                                        </table>

                                </div>
                        </div>
                </div>
 
                <div style="display: block;">
                        <div class="even-line">
                                <div style="padding-left: 10px;">
                                        <table style="width: 100%;">
                                                <tr>
                                                        <th style="width: 600px;">
                                                                <p>Present</p>
                                                        </th>

                                                        <td style="text-align: center; width: 45px;">
                                                                <p>{{ presentstaff }}</p>
                                                        </td>

                                                        <td style="text-align: center; width: 40px;">
                                                                <a href="showpresentstaffs"><img style="padding-bottom: 4px;"
                                                                                src="http://127.0.0.1:8000/static/admin/img/icon-addlink.svg"
                                                                                alt=""></a>
                                                        </td>
                                                </tr>
                                        </table>

                                </div>
                        </div>
                </div>

                <div style="display: block;">
                        <div class="odd-line">
                                <div style="padding-left: 10px;">
                                        <table style="width: 100%;">
                                                <tr>
                                                        <th style="width: 600px;">
                                                                <p>Absent</p>
                                                        </th>

                                                        <td style="text-align: center; width: 45px;">
                                                                <p>{{ absentstaff }}</p>
                                                        </td>

                                                        <td style="text-align: center; width: 40px;">
                                                                <a href="showabsentstaffs"><img style="padding-bottom: 4px;"
                                                                                src="http://127.0.0.1:8000/static/admin/img/icon-addlink.svg"
                                                                                alt=""></a>
                                                        </td>
                                                </tr>
                                        </table>

                                </div>
                        </div>
                </div>
        </div>


        <div class="dashboard-floatleftB">
                <div class="side-box-control">
                        <div class="site-admin-side-box">
                                <div class="side-box-content">
                                        <p class="side-box-content-heading">Details</p>

                                        <ul>

                                                <li>
                                                        <div class="paragraph-control">
                                                                <p class="info-paragraph"><strong>Name: </strong></p>
                                                                <p class="info-paragraph" style="color:
                                                                         rgb(75, 75, 255);">{{ fname }} {{ lname }}</p>
                                                        </div>
                                                </li>

                                                <li>
                                                        <div class="paragraph-control">
                                                                <p class="info-paragraph"><strong>Username: </strong>
                                                                </p>
                                                                <p class="info-paragraph"
                                                                        style="color: rgb(75, 75, 255);">{{ username }}
                                                                </p>
                                                        </div>
                                                </li>

                                                <li>
                                                        <div class="paragraph-control">
                                                                <p class="info-paragraph"><strong>Email: </strong></p>
                                                                <p class="info-paragraph"
                                                                        style="color: rgb(75, 75, 255);">{{ email }}</p>
                                                        </div>
                                                </li>
                                        </ul>
                                </div>
                        </div>
                </div>
        </div>


        <div class="clr"></div>
</div>
{% endblock content %}