{% extends "MAINAPP/base.html" %}
{% block content %}
<div style="margin-top: 100px;">
    <div class="home-container">
        {% if messages %}
        <hr>
        <ul class="messages">
            {% for message in messages %}
            <div {% if message.tags %} class="{{ message.tags }}" {% endif %} style="color: rgb(0, 0, 0);">{{ message }}
            </div>
            {% endfor %}
        </ul>
        {% endif %}
        <hr>
        <div style="float: center;">
            <h3 style="text-align:center;color: rgb(0, 0, 0);">Sign into your account.<br><br>
                <a href="/signin" style="padding-left: 10px;"><button type="button" class="btn btn-primary"
                        style="width: 200px; background-color: rgb(0, 0, 80);">Sign In</button></a>
            </h3>
            <br>
            <br>
            <h3 style="text-align:center;color: rgb(0, 0, 0);">Register new account.<br><br>
                <a href="/signup" style="padding-left: 10px;"><button type="button" class="btn btn-primary"
                        style="width: 200px; background-color: rgb(0, 0, 80)">Sign Up</button></a>
            </h3>
        </div>
    </div>
</div>
{% endblock content %}