{% extends "MAINAPP/base.html" %}
{% block content %}
<div style="margin-top: 80px;">
  <div class="signing-container">
    <div>
      <h4>Terminal Interface
      </h4>
      <!-- #f5dd5d -->
    </div>
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <div {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</div>
      {% endfor %}
    </ul>
    <hr>
    {% endif %}
    <div class="my-formcontainer">
      <form action="/signin" method="post" class="my-form">
        {% csrf_token %}
        <label form="username">Username: </label>
        <input type="text" class="form-content" id="username" name="username" required>

        <label form="password">Password: </label>
        <input class="form-content" minlength='8' type="password" vid="password" name="password" required>

        <div class="submit-row">
          <input type="submit" value="Sign In">
        </div>
      </form>
    </div>
    <p>Don't have an account? Click this <a href="/signup">link</a> to register.</p>
  </div>
</div>
{% endblock content %}